#container {
	background-color: rgb(189, 146, 174);
	width: 98vw;
	height: 150vh;
	display: flex;
	justify-content: space-around;
}

#units {
	background-color: rgb(241, 202, 151);
	width: 25vw;
	height: 45vh;
}

#item {
	background-color: rgb(241, 202, 151);
	width: 25vw;
	height: 45vh;
}

#quantity {
	background-color: rgb(241, 202, 151);
	width: 25vw;
	height: 45vh;
}
